# How to Print Something out

In [1]:
print("This line will be printed.")

This line will be printed.

#

# Numbers
## Interger -> Whole Number

In [2]:
myInt = 4
print(myInt)

4

## Floating Point -> Decimal

In [3]:
myFloat = 4.75
print(myFloat)

4.75

## You can also change integers into floats

In [4]:
convertInt = float(4)
print(convertInt)

4.0

#

# Strings
## Strings can be defined with either a single or double quotations â€” strings refer to whole letters, words, or sentences

In [5]:
quote1 = 'hello world'
print(quote1)

hello world

In [6]:
quote2 = "hello world"
print(quote2)

hello world

## If you want to change a string to all lowercase, use .lower()

In [7]:
quote3 = "BaNaNa"

lower_quote3 = quote3.lower()

print(lower_quote3)

banana

## What should we do if we want the string to be all uppercase?

In [8]:
quote4 = "HiPpoPotaMuS"

print(quote4.upper())

HIPPOPOTAMUS

#

# Operations
## Here we can add two different Integers

In [9]:
one = 1
two = 2
three = one + two
print(three)

3

## How do we add two Strings together?

In [13]:
hello = "hello"
world = "world"

final_word = hello +   " "   + world

print(final_word)

hello world

In [1]:
x = 6
y = 5

if (x == 10 or y == 5):
    print("okay")
    
elif (x == 8):
    print("maybe")
    
elif (x >= 9):
    print("nah")

else:
    print("no")

okay